<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--xmlns="http://mybatis.org/schema/mybatis-mapper"-->
<mapper namespace="com.zjr.music.mapper.SingerMapper">
    <select id="expansion" resultType="com.zjr.music.entity.Singer">
        select * from singer
    </select>
</mapper>